nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 15px;
  height: 25px;
  width: 100%;
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

.top-left {
  float: left;
  margin: 0 20px 0 0;
}

.headerSection1 {
  display: inline-block;
  width: 100%;
  background-color: #225f80;
}

input{
  width: 1000px;
  height: 30px;
  margin: 10px 5px;
  background-color: #1f526f;
}

.npm-logo{
  float: left;
  width: auto;
  height: 30px;
  margin: 10px 5px;
}

.bearlogo{
  float: right;
  width: auto;
  height:30px;
  margin: 10px 5px;
}

.headerSection2 {
  /* display: inline-block; */
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background-image: url(images/city-scape.svg);
}

/* .city {
  display: inline-block;
  float: right;
  width:1200px;
} */

