
/* ----------------------- NAV BAR ----------------------- */
nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 15px;
  height: 25px;
  width: 100%;
}

nav a {
  position: relative;
  left: 10px;
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

.acronym{
  position: relative;
  left: 10px;
}

.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}

.top-left {
  float: left;
  margin: 0 20px 0 0;
}

/* ----------------------- END OF NAV BAR ----------------------- */


/* ----------------------- HEADER ------------------------------- */

.headerSection1 {
  display: inline-block;
  width: 100%;
  background-color: #225f80;
}

.login{
  text-decoration: none;
  color: white;
}

.section2text h1{
  font-weight: 200;
}

.section2text p{
  font-weight: 50;
}

input{
  width: 1000px;
  height: 30px;
  margin: 10px 5px;
  background-color: #1f526f;
}

.npm-logo{
  float: left;
  width: auto;
  height: 30px;
  margin: 10px 5px;
}

.bearlogo{
  float: right;
  width: auto;
  height:30px;
  margin: 10px 5px;
}

.headerSection2 {
  /* display: inline-block; */
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background-image: url(images/city-scape.svg);
  background-size: cover;
}

.section2text{
  position: relative;
  left: 320px;
  top: 130px;
  font-family: Times;
  color:white;
}

.signup{
  background-color: #F09233;
  color: white;
  width: 120px;
  height: 25px;
  border-radius: 15px;
}

/* ----------------------- END OF HEADER ------------------------- */


/* ----------------------- SECTION 1 COLLABORATION ----------------- */

#valueprop{
  background-color: #273547;
  height: 450px;
}

.collaboration{
  position:relative;
  left: 200px;
  top: 80px;
  width: auto;
  height: 260px;
}

.section1text{
  float: right;
  position:relative;
  right: 160px;
  top: 80px;
  color: white;
}

.signOrgs{
  position:relative;
  left: 35px;
  background-color: rgb(203, 56, 55);
  color: white;
  width: 120px;
  height: 25px;
  border-radius: 15px;
}

.learnMore{
  position:relative;
  left: 35px;
  font-size: 12px;
}

/* ----------------------- SECTION 1 COLLABORATION END ----------------- */


/* ----------------------- SECTION 2 Description ----------------- */

#description{
  background-image: url(images/forklift.svg);
  background-size: cover;
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

.section2text{
  position: relative;
  left: 200px;
  top:170px;
}

.installbutton{
  background-color: rgb(49, 68, 88);
  color:white;
  width: 120px;
  height: 25px;
  border-radius: 15px;
}

/* ----------------------- SECTION 2 Description END----------------- */



/* ----------------------- SECTION 3 COMPONENTS ----------------- */

#components {
  text-align: center;
}


#components h1 {
  position: relative;
  top: 30px;
  font-weight: 100;
}

#components h2 {
  position: relative;
  top: 30px;
  font-size: 16px;
  font-weight: 100;
}

.section3elements{
  display: inline-block;
  position: relative;
  top: 30px;
  margin: 20px 65px;
}

